/* Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
/* Ends Here */

:root {
  --black: #363636;
  --white: #fffffa;
  --platinum: rgba(299, 299, 299, 0.6157);
  --blue: #242f40;
  --gray: #d9d9d9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: var(--black);
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

/* Navigation */
#navigation {
  width: 100vw;
  padding: 1rem;
}

#navigation .nav-bar {
  display: flex;
  justify-content: space-between;
}

#navigation .nav-bar .brand a {
  color: var(--platinum);
  font-weight: bold;
  font-size: 1.875rem;
}

#navigation .nav-list .hamburger {
  height: 2.5rem;
  width: 2.5rem;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
}

#navigation .nav-list .hamburger .bar {
  height: 0.15rem;
  width: 2.5rem;
  position: relative;
  background-color: var(--platinum);

  height: 0.15rem;
  width: 2.5rem;
  position: relative;
  background-color: var(--platinum);
  z-index: -1;
  transition: 0.3s ease transform;
}

#navigation .nav-list .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 0.15rem;
  width: 3rem;
  background-color: var(--platinum);
  bottom: 0.5rem;
  right: 0;
  transition: 0.3s ease transform;
}

#navigation .nav-list .hamburger .bar::after {
  content: "";
  position: absolute;
  height: 0.15rem;
  width: 2rem;
  background-color: var(--platinum);
  top: 0.5rem;
  right: 0;
  transition: 0.3s ease transform;
}

#navigation .nav-list .hamburger.active .bar {
  transition: 0.3s ease animation;
  animation: 0.3s hamburger-active linear forwards;
}

#navigation .nav-list .hamburger.active .bar::before {
  background-color: var(--blue);
  width: 2rem;
  transition: 0.3s ease transform;
  transform: rotate(45deg) translate(0rem, 0.4rem);
}

#navigation .nav-list .hamburger.active .bar::after {
  background-color: var(--blue);
  transition: 0.3s ease transform;
  transform: rotate(-45deg) translate(0.3rem, -0.7rem);
}

@keyframes hamburger-active {
  to {
    background-color: transparent;
  }
}

#navigation .nav-list ul {
  position: absolute;
  top: 0;
  right: 0;

  height: 100vh;
  width: 0vw;
  background-color: var(--gray);

  flex-direction: column;
  justify-content: center;
  align-items: center;

  display: none;
}

#navigation .nav-list ul .nav-item {
  font-size: clamp(1.75rem, 1.392rem + 1.791vw, 2.5rem);
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: var(--blue);
}

#navigation .nav-list ul.active {
  display: flex;

  animation: 0.2s navigation-slide-in-full linear forwards;
}

@keyframes navigation-slide-in-full {
  from {
    display: flex;
    opacity: 0;
  }

  to {
    opacity: 1;
    width: 100vw;
  }
}

@media only screen and (min-width: 990px) {
  /* Navigation */

  #navigation .nav-list ul {
    width: 0vw;
    align-items: flex-end;
    padding-right: 1rem;
  }

  #navigation .nav-list ul.active {
    display: flex;
    animation: 0.3s navigation-slide-in-half linear forwards;
  }

  @keyframes navigation-slide-in-half {
    from {
      display: flex;
      opacity: 0;
    }

    to {
      opacity: 1;
      width: 50vw;
    }
  }
}
