/* Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
/* Ends Here */

:root {
  --black: #363636;
  --white: #fffffa;
  --platinum: rgba(299, 299, 299, 0.6157);
  --blue: #242f40;
  --gray: #d9d9d9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: var(--black);
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--platinum);
}

section:not(#navigation) {
  display: none;
}

section:not(#navigation).active {
  display: inherit;
  overflow-x: hidden;
}

section:not(#navigation).active > .container {
  height: 85vh;
}

h1.title {
  font-size: clamp(3.5rem, 2.929rem + 2.857vw, 7.5rem);
  -webkit-text-stroke: 0.1rem var(--platinum);
  color: transparent;
  text-align: center;
  z-index: -1;
}

/* Navigation */
#navigation {
  width: 100vw;
  padding: 1rem;
  position: sticky;
}

#navigation .nav-bar {
  display: flex;
  justify-content: space-between;
}

#navigation .nav-bar .brand a {
  color: var(--platinum);
  font-weight: bold;
  font-size: 1.875rem;
}

#navigation .nav-list .hamburger {
  height: 2.5rem;
  width: 2.5rem;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
  cursor: pointer;
}

#navigation .nav-list .hamburger .bar {
  height: 0.15rem;
  width: 2.5rem;
  position: relative;
  background-color: var(--platinum);

  height: 0.15rem;
  width: 2.5rem;
  position: relative;
  background-color: var(--platinum);
  z-index: -1;
  transition: none;
}

#navigation .nav-list .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 0.15rem;
  width: 3rem;
  background-color: var(--platinum);
  bottom: 0.5rem;
  right: 0;
}

#navigation .nav-list .hamburger .bar::after {
  content: "";
  position: absolute;
  height: 0.15rem;
  width: 2rem;
  background-color: var(--platinum);
  top: 0.5rem;
  right: 0;
}

#navigation .nav-list .hamburger.active .bar {
  background-color: transparent;
}

#navigation .nav-list .hamburger.active .bar::before {
  background-color: var(--blue);
  width: 2rem;
  transform: rotate(45deg) translate(0rem, 0.4rem);
  transition: none;
}

#navigation .nav-list .hamburger.active .bar::after {
  background-color: var(--blue);
  transition: none;
  transform: rotate(-45deg) translate(0.3rem, -0.7rem);
}

#navigation .nav-list ul {
  position: absolute;
  top: 0;
  right: 0;

  height: 100vh;
  background-color: var(--gray);

  flex-direction: column;
  justify-content: center;
  align-items: center;

  display: none;
}

#navigation .nav-list ul .nav-item {
  position: relative;
  font-size: clamp(1.75rem, 1.392rem + 1.791vw, 2.5rem);
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: var(--blue);
}

#navigation .nav-list ul.active {
  display: flex;
  opacity: 1;
  width: 100vw;
}

@media (prefers-reduced-motion: no-preference) {
  #navigation .nav-list .hamburger.active .bar {
    transition: 0.3s linear animation;
    animation: 0.3s hamburger-active linear forwards;
  }

  @keyframes hamburger-active {
    to {
      background-color: transparent;
    }
  }

  #navigation .nav-list .hamburger.active .bar::before {
    background-color: var(--blue);
    width: 2rem;
    transition: 0.3s linear transform;
    transform: rotate(45deg) translate(0rem, 0.4rem);
  }

  #navigation .nav-list .hamburger.active .bar::after {
    background-color: var(--blue);
    transition: 0.3s linear transform;
    transform: rotate(-45deg) translate(0.3rem, -0.7rem);
  }

  #navigation .nav-list ul.active {
    display: flex;
    transition: 0.3s linear animation;
    animation: 0.2s navigation-slide-in-full linear forwards;
  }

  @keyframes navigation-slide-in-full {
    from {
      opacity: 0;
      width: 90vw;
    }

    to {
      display: flex;
      opacity: 1;
      width: 100vw;
    }
  }

  #navigation .nav-list .nav-item a {
    transition: 0.5s ease-in-out all;
  }

  #navigation .nav-list .nav-item a:hover::before {
    content: "";
    width: 0.25rem;
    visibility: hidden;
    height: 0%;
    position: absolute;
    background-color: var(--blue);
    top: 0;
    right: -1.5%;
    transition: 0.3s linear animation;
    animation: 0.2s height-full linear forwards;
  }

  @keyframes height-full {
    to {
      visibility: visible;
      height: 100%;
    }
  }
}

/* Hero */
#hero .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero .hero h1,
#hero .hero h4 {
  text-align: center;
  color: var(--platinum);
}

#hero .hero h1 {
  font-size: clamp(3.5rem, 2.929rem + 2.857vw, 7.5rem);
  -webkit-text-stroke: 0.1rem var(--platinum);
  color: transparent;
  text-align: center;
  width: clamp(100%, 108.571% + -42.857vw, 40%);
}

@media (prefers-reduced-motion: no-preference) {
  #hero .hero h1 span {
    transition: 0.3s linear animation;
    animation: 4s add-platinum-color linear infinite;
    animation-delay: 1s;
  }

  #hero .hero h1 span:nth-child(2) {
    animation-delay: 2s;
  }

  #hero .hero h1 span:nth-child(3) {
    animation-delay: 3s;
  }

  @keyframes add-platinum-color {
    0%,
    100% {
      color: var(--white);
    }

    25%,
    75% {
      color: transparent;
    }
  }
}

#hero .hero h4 {
  font-size: clamp(1.25rem, 1.107rem + 0.714vw, 2.25rem);
  margin-top: 1rem;
}

#hero .contacts {
  display: flex;
  margin-top: 1rem;
}

#hero .contacts .contact-item {
  display: flex;
  align-items: center;
}

#hero .contacts .contact-item img {
  width: clamp(1.25rem, 1.143rem + 0.536vw, 2rem);
  margin-right: 0.5rem;
}

#hero .contacts .contact-item .contact-detail {
  color: var(--platinum);
  overflow: hidden;
  font-size: clamp(1rem, 0.964rem + 0.179vw, 1.25rem);
  font-weight: bold;
  margin-right: 0.5rem;
  width: 0rem;
  visibility: hidden;
  transition: 0.5s ease-in-out all;
  white-space: nowrap;
}

@media (prefers-reduced-motion: no-preference) {
  #hero .contacts .contact-item:hover .contact-detail {
    visibility: visible;
    width: 100%;
  }

  #hero .contacts .contact-item:focus .contact-detail,
  #hero .contacts .contact-item:active .contact-detail {
    visibility: hidden;
  }
}

/* About */
#about .about {
  margin-top: 1rem;
}

#about .about .left,
#about .about .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  #about .about .left .title {
    transition: 0.3s linear animation;
    animation: 2s 1s add-platinum-color linear infinite,
      0.5s text-slide-in linear forwards;
  }

  @keyframes text-slide-in {
    from {
      transform: translateX(-5%);
    }
    to {
      transform: translateX(0);
    }
  }
}

#about .about .left img {
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 30rem;
}

#about .about .right p {
  text-align: center;
  width: 90%;
  margin-bottom: clamp(0.5rem, 0.286rem + 1.071vw, 2rem);
  font-size: clamp(1rem, 0.786rem + 1.071vw, 2.5rem);
  line-height: clamp(1.5rem, 1.214rem + 1.429vw, 3.5rem);
}

/* Experience */
#experience .experience {
  z-index: -1;
}

#experience .experience .title {
  font-size: clamp(2.5rem, 1.857rem + 3.214vw, 7rem);
}

#experience .experience .experience-details {
  margin-top: 2rem;
}

#experience .experience .experience-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

#experience .experience .experience-items .logo {
  width: clamp(5rem, 4.522rem + 2.392vw, 6rem);
  height: clamp(5rem, 4.522rem + 2.392vw, 6rem);
  border-radius: clamp(5rem, 4.522rem + 2.392vw, 6rem);
  padding: 1rem;
  overflow: hidden;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

#experience .experience .experience-items .logo img {
  height: clamp(4.5rem, 4.022rem + 2.392vw, 5.5rem);
  width: clamp(4.5rem, 4.022rem + 2.392vw, 5.5rem);
  object-fit: contain;
  border-radius: clamp(4.5rem, 4.022rem + 2.392vw, 5.5rem);
}

#experience .experience .experience-items .details {
  margin-top: 1rem;
}

#experience .experience .experience-items .details p {
  text-align: center;
  margin: 0;
  margin-bottom: 0.5rem;
}

#experience .experience .experience-items .details .date {
  font-size: clamp(0.75rem, 0.714rem + 0.179vw, 1rem);
}

#experience .experience .experience-items .details .job-title {
  font-size: clamp(1rem, 0.964rem + 0.179vw, 1.25rem);
  font-weight: bold;
}

#experience .experience .experience-items .details .company-name {
  font-size: clamp(1rem, 0.964rem + 0.179vw, 1.25rem);
}

@media (prefers-reduced-motion: no-preference) {
  #experience .experience .title {
    transition: 0.3s linear animation;
    animation: 2s 1s add-platinum-color linear infinite,
      0.5s text-slide-in-right linear forwards;
    z-index: -1;
  }

  @keyframes text-slide-in-right {
    from {
      transform: translateX(5%);
    }
    to {
      transform: translateX(0);
    }
  }

  #experience .experience .experience-items:nth-child(even) .logo {
    transition: 0.5s linear animation;
    animation: 1s roll-right linear forwards;
  }

  @keyframes roll-right {
    from {
      transform: translateX(-50%) rotate(-180deg);
    }
    to {
      transform: translateX(0) rotate(0deg);
    }
  }

  #experience .experience .experience-items:nth-child(odd) .logo {
    transition: 0.5s linear animation;
    animation: 1s roll-left linear forwards;
  }

  @keyframes roll-left {
    from {
      transform: translateX(50%) rotate(180deg);
    }
    to {
      transform: translateX(0) rotate(0deg);
    }
  }
}

/* Media Queries */
@media only screen and (min-width: 990px) {
  /* Navigation */
  #navigation .nav-list ul.active {
    display: flex;
    opacity: 1;
    width: 50vw;
  }

  #navigation .nav-list ul .nav-item {
    width: 80%;
    text-align: right;
    margin-right: auto;
    margin-left: auto;
  }

  #navigation .nav-list ul.active::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 50vw;
    background-color: #36363690;
  }

  @media (prefers-reduced-motion: no-preference) {
    #navigation .nav-list ul {
      width: 0vw;
      align-items: flex-end;
      padding-right: 1rem;
    }

    #navigation .nav-list ul.active {
      display: flex;
      animation: 0.3s navigation-slide-in-half linear forwards;
    }

    @keyframes navigation-slide-in-half {
      from {
        opacity: 0;
        width: 40vw;
      }

      to {
        display: flex;
        opacity: 1;
        width: 50vw;
      }
    }
  }

  /* About */
  #about .about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #about .about .left,
  #about .about .right {
    width: 45%;
  }

  #about .about .left {
    flex-direction: row-reverse;
  }

  #about .about .left .title {
    rotate: 90deg;
    display: inline-block;
    height: fit-content;
    width: 15%;
    display: flex;
    margin-bottom: auto;
    position: relative;
    margin-top: 10vh;
  }

  #about .about .right {
    align-items: flex-start;
  }

  #about .about .right p {
    text-align: left;
  }

  /* Experience */
  #experience .experience {
    position: relative;
  }

  #experience .experience .title {
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: clamp(1rem, -1.522rem + 4.076vw, 5rem);
    right: clamp(1rem, -1.522rem + 4.076vw, 5rem);
    rotate: -90deg;
    transform: translate(-50%, -50%);
  }

  #experience .experience .experience-details {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: clamp(50rem, 49.054rem + 1.529vw, 51.5rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #experience .experience .experience-details::before {
    content: "";
    position: absolute;
    width: clamp(0.25rem, 0.092rem + 0.255vw, 0.5rem);
    height: 47.5vh;
    background-color: var(--white);
    top: clamp(45%, 41.847% + 5.096vw, 50%);
    right: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
  }

  #experience .experience .experience-items {
    width: clamp(29rem, 28.369rem + 1.019vw, 30rem);
    flex-direction: row;
  }

  #experience .experience .experience-items:nth-child(odd) {
    margin-left: auto;
  }

  #experience .experience .experience-items:nth-child(even) {
    flex-direction: row-reverse;
    margin-right: auto;
  }

  #experience .experience .experience-items:nth-child(even) .logo {
    margin-left: clamp(1rem, 0.685rem + 0.51vw, 1.5rem);
  }

  #experience .experience .experience-items:nth-child(even) .details p {
    text-align: right;
  }

  #experience .experience .experience-items .logo {
    margin-right: clamp(1rem, 0.685rem + 0.51vw, 1.5rem);
    width: clamp(3.5rem, 2.239rem + 2.038vw, 5.5rem);
    height: clamp(3.5rem, 2.239rem + 2.038vw, 5.5rem);
    border-radius: clamp(3.5rem, 2.239rem + 2.038vw, 5.5rem);
    margin-bottom: auto;
  }

  #experience .experience .experience-items .logo img {
    height: clamp(2.5rem, 1.239rem + 2.038vw, 4.5rem);
    width: clamp(2.5rem, 1.239rem + 2.038vw, 4.5rem);
    object-fit: contain;
    border-radius: clamp(2.5rem, 1.239rem + 2.038vw, 4.5rem);
  }

  #experience .experience .experience-items .details {
    margin-top: 0;
    margin-bottom: 0;
    width: 70%;
  }

  #experience .experience .experience-items .details p {
    text-align: left;
  }

  @media (prefers-reduced-motion: no-preference) {
    #experience .experience .experience-items:nth-child(even) .logo {
      transition: 0.5s linear animation;
      animation: 1s bounce-top linear forwards;
    }

    #experience .experience .experience-items:nth-child(odd) .logo {
      transition: 0.5s linear animation;
      animation: 1s bounce-top linear forwards;
    }

    @keyframes bounce-top {
      from {
        transform: translateY(20%);
      }
      50% {
        transform: translateY(-5%);
      }
      to {
        transform: translateY(0);
      }
    }
  }
}
