<div class="about">
  <div class="about__left-container">
    <h1 class="about__title title-text">ABOUT</h1>
    <img src="../../../assets/images/about/mypic3.JPG" alt="My Photo" />
  </div>
  <div class="about__right-container">
    <p>
      I'm an Advanced App Engineering Sr Analyst currently at Accenture Inc.,
      handling Mobile Banking Procedure Systems.
    </p>
    <p>
      I enjoy both coding and designing. I still have a lot to learn with both
      areas, but I'll do my best!
    </p>
    <p>
      After work, you might find me in a cozy corner, reading novels or manga.
    </p>
  </div>
</div>
