<div class="home">
  <div class="home__name">
    <h1><span>PRINCE</span> <span>CHARLES</span> <span>VELARDE</span></h1>
  </div>
  <div class="home__title">SOFTWARE DEVELOPER</div>
  <div class="home__title">UI/UX DESIGNER</div>
  <div class="home__contact">
    <button
      mat-icon-button
      class="home__contact-icon"
      (click)="contactClick('phone')"
    >
      <mat-icon svgIcon="custom-phone"></mat-icon>
    </button>
    <button
      mat-icon-button
      class="home__contact-icon"
      (click)="contactClick('email')"
    >
      <mat-icon svgIcon="custom-email"></mat-icon>
    </button>
    <button
      mat-icon-button
      class="home__contact-icon"
      (click)="contactClick('linkedin')"
    >
      <mat-icon svgIcon="custom-linkedin"></mat-icon>
    </button>
    <button
      mat-icon-button
      class="home__contact-icon"
      (click)="contactClick('github')"
    >
      <mat-icon svgIcon="custom-github"></mat-icon>
    </button>
  </div>
</div>
